@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: Figtree, sans-serif;
}

div {
    background-color: hsl(0, 0%, 100%);
    padding: 1.25rem;
    margin: 0 auto;
    width: 20rem;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1rem;
}

header img {
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
}

.tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: .35rem .75rem;
    border-radius: .25rem;
    font-size: 12px;
    margin-bottom: .75rem;
}

.published {
    font-size: 12px;
}

h1 {
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 800;
}

.intro {
    color: hsl(0, 0%, 42%);
    font-size: 14px;
    line-height: 1.25rem;
}

.greg {
    width: 1.65rem;
}

footer {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-top: 1.25rem;
    font-size: 12px;
    font-weight: 800;
}

