@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: Figtree, sans-serif;
}

div {
    background-color: hsl(0, 0%, 100%);
    padding: 1.25rem;
    margin: 0 auto;
    width: 20rem;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1rem;
}

header img {
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.75rem;
}

.tag {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 14px;
    margin-bottom: 1rem;
}

.published {
    font-size: 12px;
}